{% extends "header.html" %}
{% block content %}
<body style='padding: 100px 200px 200px 200px'>
<div style='padding-bottom: 25px'>
            <h1>Clix PoC</h1>
        </div>
        <form id="form" method="post">
            <div class="form-group" id='first_name_div'>
                <label for="first_name_input">First Name</label>
                <input type="text" name='first_name' value="Wavelabs" class="form-control" id="first_name_input" placeholder="First Name" >
            </div>

            <div class="form-group" id='last_name_div'>
                <label for="last_name_input">Last Name</label>
                <input type="text" name='last_name' value="Wavelabs" class="form-control" id="last_name_input" placeholder="Last Name">
            </div>

            <div class="form-group" id='pan_number_div'>
                <label for="pan_number_input">PAN Number</label>
                <input type="text" name='pan_number' value="700" class="form-control" id="pan_number_input" placeholder="PAN Number" >
            </div>

            <div class="form-group" id='qualification_div'>
                <label for="qualification_input">Qualification</label>
                <input type="text" name='qualification' value="MD" class="form-control" id="qualification_input" placeholder="Qualification">
            </div>

            <div class="form-group" id='experience_div'>
                <label for="experience_input">Experience</label>
                <input type="number" name='experience' value="6" class="form-control" id="experience_input" placeholder="Experience">
            </div>

            <div class="form-group" id='property_ownership_div'>
                <input type="checkbox" name='property_ownership' id="property_ownership_input" placeholder="Property Ownership" checked>
                <label for="property_ownership_input">Property Ownership</label>
            </div>

            <div class="form-group" id='new_to_credit_div'>
                <input type="checkbox" name='new_to_credit' id="new_to_credit_input" placeholder="New to Credit">
                <label for="new_to_credit_input">New to Credit</label>
            </div>

            <div class="form-group" id='location_div'>
                <label for="location_input">Location</label>
                <input type="text" name='location' value="L1" class="form-control" id="location_input" placeholder="Location">
            </div>

            <div class="form-group" id='equipment_type_div'>
                <label for="equipment_type_input">Equipment Type</label>
                <input type="text" name='equipment_type' value="CT" class="form-control" id="equipment_type_input" placeholder="Equipment Type">
            </div>

            <div class="form-group" id='entity_type_div'>
                <label for="entity_type_input">Entity Type</label>
                <input type="text" name='entity_type' value="Indv+G"  class="form-control" id="entity_type_input" placeholder="Entity Type">
            </div>

            <div class="form-group" id='equipment_cost_div'>
                <label for="equipment_cost_input">Equipment Cost</label>
                <input type="number" name='equipment_cost' value="100000" class="form-control" id="equipment_cost_input" placeholder="Equipment Cost">
            </div>

            <div class="form-group" id='down_payment_div'>
                <label for="down_payment_input">Down Payment</label>
                <input type="number" name='down_payment' value="20000" class="form-control" id="down_payment_input" placeholder="Down Payment">
            </div>

            <div class="form-group" id='loan_required_div'>
                <label for="loan_required_input">Loan Required</label>
                <input type="number" name='loan_required' value="80000" class="form-control" id="loan_required_input" placeholder="Loan Required">
            </div>

            <div class="form-group" id='loan_tenure_div'>
                <label for="loan_tenure_input">Loan Tenure</label>
                <input type="number" name='loan_tenure' value="24" class="form-control" id="loan_tenure_input" placeholder="Loan Tenure">
            </div>

            <div class="form-group" id='insurance_funding_div'>
                <label for="insurance_funding_input">Insurance Funding</label>
                <input type="number" name='insurance_funding' value="25" class="form-control" id="insurance_funding_input" placeholder="Insurance Funding">
            </div>

            <div class="form-group" id='manufacturer_div'>
                <label for="manufacturer_input">Manufacturer</label>
                <input type="text" name='manufacturer' value="M1" class="form-control" id="manufacturer_input" placeholder="Manufacturer">
            </div>

            <div class="form-group" id='pep_div'>
                <label for="pep_input">PEP</label>
                <input type="text" name='pep' value="positive" class="form-control" id="pep_input" placeholder="PEP">
            </div>

            <button type="button" class="btn btn-primary" onclick="submitform()" >Submit</button>
        </form>
        <br>
        <br>
        <h3 id="status" ></h3>
        <h3 id="eligible" ></h3>
        <h3 id="errors" ></h3>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script type="text/javascript">
           function submitform(){
                var fdata = {};
                var message;
                var url = "http://{{HOST}}:{{PORT}}/workflow/workflow"
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                var formData = $("#form").serializeArray();
                $.each(formData, function (i, input) {
                    fdata[input.name] = input.value;
                });
                xhr.onload = (res) => {
                    message = res['target']['response'];
                    message = JSON.parse(message)
                    if (message == null){
                        document.getElementById("status").innerHTML = "Please Check";
                        document.getElementById("eligible").innerHTML = "";
                    } else {

                        document.getElementById("status").innerHTML = message['status'];
                        document.getElementById("errors").innerHTML = message['errors'];
                        document.getElementById("eligible").innerHTML = "Eligible up to : - " + message['eligible'];
                    }
                };
                xhr.send(JSON.stringify(fdata));
           }
        </script>
</body>
{% endblock %}