{% extends "header.html" %}
{% block content %}
<body>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

    <style rel="stylesheet" type="text/css" >
        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }

        ul.CTAs {
            padding: 20px;
        }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        a.download {
            background: #fff;
            color: #7386D5;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }

        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }
            #sidebar.active {
                margin-left: 0;
            }
            #sidebarCollapse span {
                display: none;
            }
        }
    </style>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="http://{{HOST}}:{{PORT}}/profile-rule">
                    <button type="button" class="btn btn-light">Profile</button>
                </a>
                <a href="http://{{HOST}}:{{PORT}}/policy-rule">
                    <button type="button" class="btn btn-light">Policy</button>
                </a>
                <h3 id="rule" style="padding-top: 13px">Policy</h3>
                <h3>Rule Versions</h3>
            </div>
            <ul class="list-unstyled components">
                {% for ver in ver_list %}
                    <li>
                        <a onclick="geteligibledata(this)">{{ver}}</a>
                    </li>
                {% endfor %}
                <li>
                    <form>
                        <div class="input-group mb-3" style="padding: 0px 5px 0px 5px;">
                            <input type="text" class="form-control" aria-label="Recipient's username"
                                   name="new_version_input" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                        onclick="add_new_version(new_version_input)"
                                        style="background: white">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Rules ></span>
                    </button>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><h3 id="verid"></h3></p>
                            <footer class="blockquote-footer" id="no_rule">
                                <cite title="Source Title" id="new_rule_from_db">{{active}} --</cite>
                                is Active
                            </footer>
                        </blockquote>
                    </div>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify">aa</i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <h6>Select Version to Apply</h6>
                                <select class="form-control" onchange="update_version(this)">
                                    {% for ver in ver_list %}
                                        <option>{{ver}}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="main_div">
                <div id="nested_main_1"></div>
                <div id="nested_main_2"></div>
            </div>
            <div id="select_hide_div" style="display: none;">
                <form>
                        <div class="input-group mb-3" style="padding: 0px 5px 0px 5px; width: 30%; float: right;">
                            <input type="text" class="form-control" placeholder="Add new Eligible Amount"
                                   aria-label="Recipient's username" name="new_eligible_amount_input"
                                   aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                        onclick="add_new_eligible_amount(new_eligible_amount_input)"
                                        style="background: white">Add</button>
                            </div>
                        </div>
                    </form>
                <label for="eligibility_select">Select Eligible Amount to apply rules:-</label>
                <select class="custom-select" id="eligibility_select" style="width: 35%"
                        onchange="if (this.value==0){document.getElementById('nested_main_2').innerHTML = '';}
                        else {getdbruledata(this)};">
                    <option value="0">Choose</option>
                </select>
                <br>
                <br>
                <br>
            </div>
            <div id="hide_div" style="display: none;">
                <h6>Qualification</h6>
                <form id="qualification_form">
                    <div>
                        <ul class="list-group" id="qualification_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'qualification_list')">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <br>
                <h6>Equipment Type</h6>
                <form id="equipment_type_form">
                    <div>
                        <ul class="list-group" id="equipment_type_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'equipment_type_list')">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <br>
                <h6>Entity Type</h6>
                <form id="entity_type_form">
                    <div>
                        <ul class="list-group" id="entity_type_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'entity_type_list')">Add</button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <br>
                <h6>Experience</h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="experience_option">Condition</label>
                    </div>
                    <select class="custom-select" id="experience_option"
                            onchange="if (this.value==3){$('#experience_end').show();}
                            else {$('#experience_end').hide();};">
                        <option value="1">less than</option>
                        <option value="2">greater than</option>
                        <option value="3">range</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="From" id="experience_start">
                    <input type="text" class="form-control" placeholder="End" id="experience_end"
                           style="display: none;">
                </div>
                <hr>
                <br>
                <h6>Property Ownership</h6>
                <div class="form-check">
                    <label class="form-check-label" for="property_ownership_check">Only Allow Owner of Property</label>
                    <input type="checkbox" id="property_ownership_check">
                </div>
                <hr>
                <br>
                <button type="button" class="btn btn-primary" onclick="updatedb()" >Update</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function updatedb(){
                var qualification_array = []
                var equipment_type_array = []
                var entity_type_array = []
                var url = "http://{{HOST}}:{{PORT}}/workflow/updatedb"
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                var qualification_list = document.getElementById("qualification_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < qualification_list.length; i++) {
                    qualification_array.push(qualification_list[i].innerHTML)
                }
                var equipment_type_list = document.getElementById("equipment_type_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < equipment_type_list.length; i++) {
                    equipment_type_array.push(equipment_type_list[i].innerHTML)
                }
                var entity_type_list = document.getElementById("entity_type_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < entity_type_list.length; i++) {
                    entity_type_array.push(entity_type_list[i].innerHTML)
                }
                var experience = document.getElementById("experience_option");
                experience = experience.options[experience.selectedIndex].text;
                if (experience == 'range'){
                    var experience_start = document.getElementById("experience_start").value;
                    var experience_end = document.getElementById("experience_end").value;
                    experience_obj = {'cond': '<=', 'start': experience_start, 'end': experience_end}

                } else if (experience == 'less than') {
                    var experience_start = document.getElementById("experience_start").value;
                    experience_obj = {'cond': '<', 'value': experience_start}
                } else if (experience == 'greater than') {
                    var experience_start = document.getElementById("experience_start").value;
                    experience_obj = {'cond': '>', 'value': experience_start}
                }
                if (document.getElementById("property_ownership_check").checked){
                    var property_ownership_obj = {'cond': '==', 'value': true};
                }
                else{
                    var property_ownership_obj = {'cond': '==', 'value': false};
                }
                var eligibility = document.getElementById("eligibility_select");
                eligibility = eligibility.options[eligibility.selectedIndex].text;
                qualification_obj = {'cond': 'in', 'value': qualification_array}
                equipment_type_obj = {'cond': 'in', 'value': equipment_type_array}
                entity_type_obj = {'cond': 'in', 'value': entity_type_array}
                final_data = {'qualification':qualification_obj,
                              'equipment_type': equipment_type_obj,
                              'entity_type': entity_type_obj,
                              'experience': experience_obj,
                              'property_ownership': property_ownership_obj
                              }
                console.log(final_data)
                xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message);
                if (message['status'] == 'success'){
                    alert("DB Updated")
                } else {
                    alert("DB not Updated")
                }}
                xhr.send(JSON.stringify({'rule': 'policy', 'version': document.getElementById("verid").innerHTML, 'update_data':final_data, 'amount': eligibility}));
        }
        function geteligibledata(version){
            document.getElementById("nested_main_1").innerHTML = document.getElementById("select_hide_div").innerHTML;
            document.getElementById("nested_main_2").innerHTML = "";
            var version = version.innerHTML;
            var rule = document.getElementById("rule").innerHTML;
            var url = "http://{{HOST}}:{{PORT}}/workflow/getdbruledata";
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message)
                if (message == null){
                    document.getElementById("verid").innerHTML = "Rule Does Not Exits..";
                } else {
                    document.getElementById("verid").innerHTML = message['version'];
                    rule_list = Object.keys(message['rules'])
                    var i;
                    for (i = 0; i < rule_list.length; i++) {
                        document.getElementById("eligibility_select").innerHTML += '<option>' + rule_list[i] + '</option>';
                    }
                }
            };
            xhr.send(JSON.stringify({'version_no': version, 'rule': rule}));
        }
        function getdbruledata(amount){
            document.getElementById("nested_main_2").innerHTML = document.getElementById("hide_div").innerHTML;
            var amount = amount.options[amount.selectedIndex].text;
            var version = document.getElementById("verid").innerHTML;
            var rule = document.getElementById("rule").innerHTML;
            var url = "http://{{HOST}}:{{PORT}}/workflow/getdbruledata";
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message)
                message = message['rules'][amount]
                if (message == null){
                } else {
                    var qualification_array = message['qualification']['value']
                    var i;
                    for (i = 0; i < qualification_array.length; i++) {
                        document.getElementById("qualification_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + qualification_array[i] +'</li>';
                    }
                    var equipment_type_array = message['equipment_type']['value']
                    var i;
                    for (i = 0; i < equipment_type_array.length; i++) {
                        document.getElementById("equipment_type_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + equipment_type_array[i] +'</li>';
                    }
                    var entity_type_array = message['entity_type']['value']
                    var i;
                    for (i = 0; i < entity_type_array.length; i++) {
                        document.getElementById("entity_type_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + entity_type_array[i] +'</li>';
                    }
                    var condition = message['experience']['cond']
                    if(condition == '<='){
                        var start = message['experience']['start']
                        var end = message['experience']['end']
                        document.getElementById('experience_option').value = 3;
                        document.getElementById("experience_start").value = start;
                        $('#experience_end').show();
                        document.getElementById("experience_end").value = end;
                    } else if (condition == '<') {
                        document.getElementById('experience_option').value = 1;
                        var start = message['experience']['value']
                        document.getElementById("experience_start").value = start;
                    } else if (condition == '>') {
                        document.getElementById('experience_option').value = 2;
                        var start = message['experience']['value']
                        document.getElementById("experience_start").value = start;
                    }
                    var status = message['property_ownership']['value']
                    document.getElementById("property_ownership_check").checked = status;
                }
            };
            xhr.send(JSON.stringify({'version_no': version, 'rule': rule}));
        }
        function add_new_version(data){
            var new_version = data.value
            if (new_version == "") {
                alert("Must be filled out");
            }
            else{
                document.getElementById("verid").innerHTML = new_version;

                document.getElementById("nested_main_1").innerHTML = document.getElementById("select_hide_div").innerHTML;
            }
        }
        function add_new_eligible_amount(data){
            var new_amount = data.value
            if (new_amount == "") {
                alert("Must be filled out");
            }
            else{
                document.getElementById("eligibility_select").innerHTML += '<option>' + new_amount + '</option>';;
            }
        }
        function update_version(data){
            var new_version = data.options[data.selectedIndex].text;
            var url = "http://{{HOST}}:{{PORT}}/workflow/update_version"
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message)
                if (message == null){
                    document.getElementById("no_rule").innerHTML = "No Version is assined";
                } else {
                    document.getElementById("new_rule_from_db").innerHTML = message['version'] + " -- ";
                }
            };
            xhr.send(JSON.stringify({'for': "policy", 'new_version': new_version}));
        }
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        function add_list(data, id){
            var div = document.getElementById(id);
            div.innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + data.value +'</li>';
        }
        function remove_list(data){
            data.remove();
        }
        function conv(data){
            if (data == "Range"){
                return "<=";
            }
        }
    </script>
</body>
{% endblock %}