{% extends "header.html" %}
{% block content %}
<body>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <style rel="stylesheet" type="text/css" >
        @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #fff;
            border: none;
            border-radius: 0;
            margin-bottom: 40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

        .navbar-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
        }

        .line {
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #ddd;
            margin: 40px 0;
        }

        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }

        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }

        ul.CTAs {
            padding: 20px;
        }

        ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        a.download {
            background: #fff;
            color: #7386D5;
        }

        a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        }

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }

        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }
            #sidebar.active {
                margin-left: 0;
            }
            #sidebarCollapse span {
                display: none;
            }
        }
    </style>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="http://{{HOST}}:{{PORT}}/profile-rule">
                    <button type="button" class="btn btn-light">Profile</button>
                </a>
                <a href="http://{{HOST}}:{{PORT}}/policy-rule">
                    <button type="button" class="btn btn-light">Policy</button>
                </a>
                <h3 id="rule" style="padding-top: 13px">Profile</h3>
                <h3>Rule Versions</h3>
            </div>
            <ul class="list-unstyled components">
                {% for ver in ver_list %}
                    <li>
                        <a onclick="getdbruledata(this)">{{ver}}</a>
                    </li>
                {% endfor %}
                <li>
                    <form>
                        <div class="input-group mb-3" style="padding: 0px 5px 0px 5px;">
                            <input type="text" class="form-control" aria-label="Recipient's username"
                                   name="new_version_input" aria-describedby="basic-addon2" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                        onclick="add_new_version(new_version_input)" style="background: white">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Rules ></span>
                    </button>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p><h3 id="verid"></h3></p>
                            <footer class="blockquote-footer" id="no_rule">
                                <cite title="Source Title" id="new_rule_from_db">{{active}} --</cite>
                                is Active
                            </footer>
                        </blockquote>
                    </div>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify">aa</i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <h6>Select Version to Apply</h6>
                                <select class="form-control" onchange="update_version(this)">
                                    {% for ver in ver_list %}
                                        <option>{{ver}}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="main_div"></div>
            <div id="hide_div" style="display: none;">
                <h6>Location</h6>
                <form id="location_form">
                    <div>
                        <ul class="list-group" id="location_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'location_list')">Add</button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <h6>Cbill</h6>
                <form id="cbill_form">
                    <div>
                        <ul class="list-group" id="cbill_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'cbill_list')">Add</button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <h6>Qualification</h6>
                <form id="qualification_form">
                    <div>
                        <ul class="list-group" id="qualification_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'qualification_list')">Add</button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <h6>Manufacturer</h6>
                <form id="manufacturer_form">
                    <div>
                        <ul class="list-group" id="manufacturer_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'manufacturer_list')">Add</button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <h6>PEP</h6>
                <form id="pep_form">
                    <div>
                        <ul class="list-group" id="pep_list">
                            <li class="list-group-item">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" aria-label="Recipient's username"
                                           name="list" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="add_list(list,'pep_list')">Add</button>
                                    </div>
                                </div>
                                <small>Click to Remove</small>
                            </li>
                        </ul>
                    </div>
                </form>
                <hr>
                <h6>Loan Required</h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="loan_required_option">Condition</label>
                    </div>
                    <select class="custom-select" id="loan_required_option">
                        <option value="1">Range</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Start" id="loan_required_start">
                    <pre>              </pre>
                    <input type="text" class="form-control" placeholder="End" id="loan_required_end">
                </div>
                <hr>

                <h6>Loan Tenure</h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="loan_tenure_option">Conditions</label>
                    </div>
                    <select class="custom-select" id="loan_tenure_option">
                        <option value="1">Range</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Start" id="loan_tenure_start">
                    <pre>              </pre>
                    <input type="text" class="form-control" placeholder="End" id="loan_tenure_end">
                </div>
                <hr>
                <h6>Loan to Value</h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="loan_to_value_option">Conditions</label>
                    </div>
                    <select class="custom-select" id="loan_to_value_option">
                        <option value="1">Range</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Start" id="loan_to_value_start">
                    <pre>              </pre>
                    <input type="text" class="form-control" placeholder="End" id="loan_to_value_end">
                </div>
                <hr>
                <h6>Insurance Funding</h6>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="insurance_funding_option">Conditions</label>
                    </div>
                    <select class="custom-select" id="insurance_funding_option">
                        <option value="1">Range</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Start" id="insurance_funding_start">
                    <pre>              </pre>
                    <input type="text" class="form-control" placeholder="End" id="insurance_funding_end">
                </div>
                <hr>
                <h6>New to Credit</h6>
                <div class="form-check">
                    <label class="form-check-label" for="new_to_credit_check">Allow new to credit</label>
                    <input type="checkbox" id="new_to_credit_check">
                </div>
                <hr>
                <button type="button" class="btn btn-primary" onclick="updatedb()" >Update</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function updatedb(){
                var qualification_array = []
                var manufacturer_array = []
                var location_array = []
                var cbill_array = []
                var pep_array = []
                var url = "http://{{HOST}}:{{PORT}}/workflow/updatedb"
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                var qualification_list = document.getElementById("qualification_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < qualification_list.length; i++) {
                    qualification_array.push(qualification_list[i].innerHTML)
                }
                var manufacturer_list = document.getElementById("manufacturer_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < manufacturer_list.length; i++) {
                    manufacturer_array.push(manufacturer_list[i].innerHTML)
                }
                var location_list = document.getElementById("location_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < location_list.length; i++) {
                    location_array.push(location_list[i].innerHTML)
                }
                var cbill_list = document.getElementById("cbill_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < cbill_list.length; i++) {
                    cbill_array.push(cbill_list[i].innerHTML)
                }
                var pep_list = document.getElementById("pep_list").getElementsByTagName("li");
                var i;
                for (i = 1; i < pep_list.length; i++) {
                    pep_array.push(pep_list[i].innerHTML)
                }
                var qualification_obj = {'cond': 'in', 'value': qualification_array}
                var manufacturer_obj = {'cond': 'in', 'value': manufacturer_array}
                var location_obj = {'cond': 'in', 'value': location_array}
                var cbill_obj = {'cond': 'in', 'value': cbill_array}
                var pep_obj = {'cond': 'in', 'value': pep_array}
                var loan_required = document.getElementById("loan_required_option");
                loan_required = loan_required.options[loan_required.selectedIndex].text;
                loan_required = conv(loan_required)
                var loan_required_start = document.getElementById("loan_required_start").value;
                var loan_required_end = document.getElementById("loan_required_end").value;
                var loan_tenure = document.getElementById("loan_tenure_option");
                loan_tenure = loan_tenure.options[loan_tenure.selectedIndex].text;
                loan_tenure = conv(loan_tenure)
                var loan_tenure_start = document.getElementById("loan_tenure_start").value;
                var loan_tenure_end = document.getElementById("loan_tenure_end").value;
                var loan_to_value = document.getElementById("loan_to_value_option");
                loan_to_value = loan_to_value.options[loan_to_value.selectedIndex].text;
                loan_to_value = conv(loan_to_value)
                var loan_to_value_start = document.getElementById("loan_to_value_start").value;
                var loan_to_value_end = document.getElementById("loan_to_value_end").value;
                var insurance_funding = document.getElementById("insurance_funding_option");
                insurance_funding = insurance_funding.options[insurance_funding.selectedIndex].text;
                insurance_funding = conv(insurance_funding)
                var insurance_funding_start = document.getElementById("insurance_funding_start").value;
                var insurance_funding_end = document.getElementById("insurance_funding_end").value;
                var loan_required_obj = {'cond': loan_required, 'start': loan_required_start, 'end': loan_required_end}
                var loan_tenure_obj = {'cond': loan_tenure, 'start': loan_tenure_start, 'end': loan_tenure_end}
                var loan_to_value_obj = {'cond': loan_to_value, 'start': loan_to_value_start, 'end': loan_to_value_end}
                var insurance_funding_obj = {'cond': insurance_funding, 'start': insurance_funding_start, 'end': insurance_funding_end}
                if (document.getElementById("new_to_credit_check").checked){
                    var new_to_credit_obj = {'cond': '==', 'value': true};
                }
                else{
                    var new_to_credit_obj = {'cond': '==', 'value': false};
                }
                final_data = {'qualification': qualification_obj,
                              'location': location_obj,
                              'manufacturer': manufacturer_obj,
                              'pep': pep_obj,
                              'loan_required': loan_required_obj,
                              'loan_tenure': loan_tenure_obj,
                              'ltv': loan_to_value_obj,
                              'insurance_funding': insurance_funding_obj,
                              'new_to_credit': new_to_credit_obj,
                              'cbill': cbill_obj
                              }
                xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message);
                if (message['status'] == 'success'){
                    alert("DB Updated")
                } else {
                    alert("DB not Updated")
                }}
                xhr.send(JSON.stringify({'rule': 'profile', 'version': document.getElementById("verid").innerHTML, 'update_data':final_data}));
        }
        function getdbruledata(version){
            document.getElementById("main_div").innerHTML = document.getElementById("hide_div").innerHTML
            var version = version.innerHTML
            var rule = document.getElementById("rule").innerHTML
            var url = "http://{{HOST}}:{{PORT}}/workflow/getdbruledata"
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message)
                if (message == null){
                    document.getElementById("verid").innerHTML = "Rule Does Not Exits..";
                } else {
                    document.getElementById("verid").innerHTML = message['version'];
                    var loction_array = message['rules']['location']['value']
                    var i;
                    for (i = 0; i < loction_array.length; i++) {
                        document.getElementById("location_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + loction_array[i] +'</li>';
                    }
                    var cbill_array = message['rules']['cbill']['value']
                    var i;
                    for (i = 0; i < cbill_array.length; i++) {
                        document.getElementById("cbill_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + cbill_array [i] +'</li>';
                    }
                    var qualification_array = message['rules']['qualification']['value']
                    var i;
                    for (i = 0; i < qualification_array.length; i++) {
                        document.getElementById("qualification_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + qualification_array[i] +'</li>';
                    }
                    var manufacturer_array = message['rules']['manufacturer']['value']
                    var i;
                    for (i = 0; i < manufacturer_array.length; i++) {
                        document.getElementById("manufacturer_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + manufacturer_array[i] +'</li>';
                    }
                    var pep_array = message['rules']['pep']['value']
                    var i;
                    for (i = 0; i < pep_array.length; i++) {
                        document.getElementById("pep_list").innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + pep_array[i] +'</li>';
                    }
                    var condition = message['rules']['loan_required']['cond']
                    var start = message['rules']['loan_required']['start']
                    var end = message['rules']['loan_required']['end']
                    if(condition == '<='){
                        document.getElementById('loan_required_option').value = 1;
                    }
                    document.getElementById("loan_required_start").value = start;
                    document.getElementById("loan_required_end").value = end;
                    var condition = message['rules']['loan_tenure']['cond']
                    var start = message['rules']['loan_tenure']['start']
                    var end = message['rules']['loan_tenure']['end']
                    if(condition == '<='){
                        document.getElementById('loan_tenure_option').value = 1;
                    }
                    document.getElementById("loan_tenure_start").value = start;
                    document.getElementById("loan_tenure_end").value = end;
                    var condition = message['rules']['ltv']['cond']
                    var start = message['rules']['ltv']['start']
                    var end = message['rules']['ltv']['end']
                    if(condition == '<='){
                        document.getElementById('loan_to_value_option').value = 1;
                    }
                    document.getElementById("loan_to_value_start").value = start;
                    document.getElementById("loan_to_value_end").value = end;
                    var condition = message['rules']['insurance_funding']['cond']
                    var start = message['rules']['insurance_funding']['start']
                    var end = message['rules']['insurance_funding']['end']
                    if(condition == '<='){
                        document.getElementById('insurance_funding_option').value = 1;
                    }
                    document.getElementById("insurance_funding_start").value = start;
                    document.getElementById("insurance_funding_end").value = end;
                    var status = message['rules']['new_to_credit']['value']
                    document.getElementById("new_to_credit_check").checked = status;
                }
            };
            xhr.send(JSON.stringify({'version_no': version, 'rule': rule}));
        }
        function add_new_version(data){
            var new_version = data.value
            if (new_version == "") {
                alert("Must be filled out");
            }
            else{
                document.getElementById("verid").innerHTML = new_version;
                document.getElementById("main_div").innerHTML = document.getElementById("hide_div").innerHTML;
            }
        }
        function update_version(data){
            var new_version = data.options[data.selectedIndex].text;
            var url = "http://{{HOST}}:{{PORT}}/workflow/update_version"
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.onload = (res) => {
                message = res['target']['response'];
                message = JSON.parse(message)
                if (message == null){
                    document.getElementById("no_rule").innerHTML = "No Version is assined";
                } else {
                    document.getElementById("new_rule_from_db").innerHTML = message['version'] + " -- ";
                }
            };
            xhr.send(JSON.stringify({'for': "profile", 'new_version': new_version}));
        }
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        function add_list(data, id){
            var div = document.getElementById(id);
            div.innerHTML += '<li class="list-group-item" onclick="remove_list(this)" >' + data.value +'</li>';
        }
        function remove_list(data){
            data.remove();
        }
        function conv(data){
            if (data == "Range"){
                return "<=";
            }
        }
    </script>
</body>
{% endblock %}